body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://media1.tenor.com/m/oJoWZIWxt3wAAAAC/the-hacker-matrix.gif");
    color: lime;
    font-weight: bold;
    margin: 0;

}

.hd {
    background-image: url(https://media1.tenor.com/m/k3BNIDqMr6QAAAAC/hacking-hacker.gif);
    background-position: center;
    padding: 10px;
}

.subh {
    background-color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

.headr {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

a:hover {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(122, 255, 122);
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 10px;
}


img {
    max-width: 300px; 
    max-height: 200px; 
    width: auto; 
    height: auto; 
    text-align: center; 
}